<!-- SignUp form ends here -->
<section>
    <h2>SignUp Form</h2> 
  <div class="form">
    <form [formGroup]="registerationForm" (ngSubmit)="onSubmit()">
      <div class="container">
        <label>First Name</label>
        <input type="text" formControlName="firstName" required placeholder="Enter your name" class="ng-untouched ng-pristine ng-invalid"/>
        <div style="height: 20px;  margin-bottom: 4px;">
          @if (registerationForm.controls['firstName'].invalid && registerationForm.controls['firstName'].touched) {
            <span style="color: #e03b3b; display: flex;">*First name is required.</span>
          }
        </div>
      </div>
      <div class="container">
        <label>Last Name</label>
        <input type="text" formControlName="lastName" required placeholder="Enter your lastName" class="ng-untouched ng-pristine ng-invalid"/>
        <div style="height: 20px;  margin-bottom: 4px;">
          @if (registerationForm.controls['lastName'].invalid && registerationForm.controls['lastName'].touched) {
            <span style="color: #e03b3b; display: flex;">*Last name is required.</span>
          }
        </div>
      </div>
      <div class="container">
        <label>Signature</label>
        <input type="text" formControlName="signature" required placeholder="Enter your signature" class="ng-untouched ng-pristine ng-invalid"/>
        <div style="height: 20px;  margin-bottom: 4px;">
          @if (registerationForm.controls['signature'].invalid && registerationForm.controls['signature'].touched) {
            <span style="color: #e03b3b; display: flex;">*Signature is required.</span>
          }
        </div>
      </div>
      <div class="container">
        <label>Title</label>
        <input type="text" formControlName="title" required placeholder="Enter your title" class="ng-untouched ng-pristine ng-invalid"/>
        <div style="height: 20px;  margin-bottom: 4px;">
          @if (registerationForm.controls['title'].invalid && registerationForm.controls['title'].touched) {
            <span style="color: #e03b3b; display: flex;">*Title is required.</span>
          }
        </div>
      </div>
      <div class="container">
        <label>Email</label>
        <input type="email" formControlName="email" required email placeholder="Enter your email" class="ng-untouched ng-pristine ng-invalid"/>
        <div style="height: 20px;  margin-bottom: 4px;">
          @if (registerationForm.controls['email'].invalid && registerationForm.controls['email'].touched) {
            <span style="color: #e03b3b; display: flex;">*Email is required.</span>
          }
        </div>
      </div>
      <div class="container">
        <label>Password</label>
        <input type="password" formControlName="password" required placeholder="Enter your password" class="ng-untouched ng-pristine ng-invalid"/>
        <div style="height: 20px;  margin-bottom: 4px;">
          @if (registerationForm.controls['password'].invalid && registerationForm.controls['password'].touched) {
            <span style="color: #e03b3b; display: flex;">*Password is required.</span>
          }
        </div>
      </div>
      <div class="example-button-row">
        <button type="submit">SignUp</button>
      </div>
    </form>
  </div>
  </section>
  <!-- SignUp form ends here -->