<!-- home section start here -->
<header class="header">
  <div class="nav-elements">
  <img src="../../../assets/logo.jpg" alt="logo">
  <span class="nav-element" [routerLink]="['/home']">Home</span>
  <span class="nav-element" (click)="openDialog()">Form</span>
</div>
  <div class="header-btn">
    <button class="logOut-btn" (click)="logOut()"><i class="bi bi-box-arrow-left"></i></button>
  </div>
</header>
 
<section>
  <div class="left-container">
    <span>Chronologic</span>
    <span>03.04.2024 - 32 ans</span>
  </div>
  <div class="right-container">
    <div class="container">
      <div><span>Doisser medical and Position(s) tarifaires</span></div>
      <div>
        <input type="text" placeholder="Research" />
        <select>
          <option>ALL</option>
          <option value="Consultaion">Consultaion</option>
          <option value="Medical">Medical</option>
          <option value="SOAP">SOAP</option>
        </select>
        <select>
          <option>De Plus recent</option>
          <option value="Consultaion">Consultaion</option>
          <option value="Medical">Medical</option>
          <option value="SOAP">SOAP</option>
        </select>
        <input type="text" placeholder="Type O'acte" />
      </div>
    </div>
    <div class="form">
      <div class="form-header">
        <div class="left-section">
          <span>Doisser medical & Position(s) tarifaires</span>
          <div class="button">
          <button>commenter</button>
          <button>documenter</button>
        </div>
        </div>
        <div class="right-section">
          <span style="margin-right: 3px">Gregory House</span>
          <input type="text" placeholder="SansCodes" />
          <div class="icons">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="add_box"
          ></mat-icon>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="save"
          ></mat-icon>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="assignment"
            style="background: red"
          ></mat-icon>
        </div>
        </div>
      </div>
      <div class="form-body">
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="Doisser medical">
            <div class="tab-content">
              <form class="custom-form">
                <div class="input-group">
                  <div class="form-field">
                    <label><span style="color: red">*</span>Type of ache</label>
                    <select class="text-input">
                      <option value="Consultaion">Consultaion</option>
                      <option value="Medical">Medical</option>
                      <option value="SOAP">SOAP</option>
                    </select>
                  </div>
                  <div class="form-field">
                    <label
                      ><span style="color: red">*</span>Motif de
                      consultation</label
                    >
                    <input type="text" class="text-input" placeholder="nom" />
                  </div>
                  <div class="form-field">
                    <label
                      ><span style="color: red">*</span>Type de
                      consultation</label
                    >
                    <select class="text-input">
                      <option value="SOAP">SOAP</option>
                      <option value="Consultaion">Consultaion</option>
                      <option value="Medical">Medical</option>
                    </select>
                  </div>
                </div>
                <div class="form-field single-input">
                  <label
                    ><span style="color: red">*</span>Date de
                    consultation</label
                  >
                  <input type="date" style="width: 31%" [(ngModel)]="dateOfBirth"  name="dateOfBirth"/>
                </div>
                <div class="input-group">
                  <div class="form-field">
                    <label>First Name</label>
                    <input type="text" [(ngModel)]="firstName"  name="firstName" style="width:100%">
                  </div>
                  <div class="form-field">
                    <label>Last Name</label>
                    <input type="text" [(ngModel)]="lastName"  name="lastName" style="width:100%">
                  </div>
                </div>
                <div class="input-group">
                  <div class="form-field">
                    <label>Evaluation</label>
                    <textarea
                      class="textaera-input"
                      rows="5"
                      placeholder="Entrez un evaluation"
                    ></textarea>
                  </div>
                  <div class="form-field">
                    <label>Plan</label>
                    <textarea
                      class="textaera-input"
                      rows="5"
                      placeholder="Entrez le plan"
                    ></textarea>
                  </div>
                </div>
              </form>
            </div>
          </mat-tab>
          <mat-tab label="Position(s) tarifaires">
            <div class="tab-content">Position(s) tarifaires</div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="form-footer">
        <div>
          <button style="background: red">Suprimmer</button>
        </div>
        <div>
          <button>Documnet</button>
          <button class="documnet-btn" (click)="sendData(); navigateToEditor()">Document Modification</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="display: flex; flex-direction: column;">
<div class="patient">
<span>Patients</span>
<button [routerLink]="['/addPatient']"><i class="bi bi-plus"></i> Add new patient</button>
</div>
<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!--Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.firstName}} {{element.lastName}}</td>
    </ng-container>
  
    <!-- Date of birth Column -->
    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef>Date of birth</th>
      <td mat-cell *matCellDef="let element">{{element.dateOfBirth}}</td>
    </ng-container>
  
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>
  
    <!-- Phone Number Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef>Telephone</th>
      <td mat-cell *matCellDef="let element">{{element.phoneNumber}}</td>
    </ng-container>
  
    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>Gender</th>
      <td mat-cell *matCellDef="let element">{{element.gender}}</td>
    </ng-container>
  
     <!-- Action Column -->
     <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <div class="action-buttons">
        <mat-icon (click)="editUser(element._id)">edit</mat-icon>
        <mat-icon (click)="deleteUser(element._id)">delete</mat-icon>
        <button style="padding: 2px 4px;" (click)="openDocument(element.firstName, element.lastName, element.dateOfBirth)">Open</button>
      </div>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
</section>
<!-- home section ends here -->