button {
  margin-left: 5px;
  padding: 4px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 22px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.left-button {
    background-color: #0056b3;
    color: white;
    padding: 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.right-container {
    display: flex;
    align-items: center;
}

.select-tag {
    margin-right: 10px;
    padding: 4px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.right-button {
  background-color: #0056b3;
  color: white;
  padding: 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn{
   width: 38px;
}

@media (max-width: 768px){
  .header, .right-container{
    display: flex;
    flex-direction: column;
  }

  button, select{
    margin-bottom: 23px;
  }

  .select-tag{
    margin-right: auto;
    padding: 11px;
    border-radius: 5px;
  }
}