@if(token){
  <section>
    <header class="header">
        <select class="select-tag" (change)="loadTemplate($event)">
          <option value="" disabled selected>Select templat</option>
          <option *ngFor="let templateName of templateNames" [value]="templateName">{{ templateName }}</option>
        </select>
        <button class="right-button" mat-raised-button (click)="openDialog()">Save template</button>
        <button class="right-button" (click)="downloadDocument()">Download</button>
    </header>
    <tx-document-editor
      #documentEditor
      width="100%"
      height="700px"
      webSocketURL="wss://backend.textcontrol.com/TXWebSocket?access-token=BJfvrIyv7rrdECNxJfhM">
    </tx-document-editor>
    </section>
} @else { <div class="loader"></div> }